<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:label="SwiftBackupPrem"
        android:supportsRtl="true"
        android:multiArch="true"
        android:extractNativeLibs="false"
        tools:ignore="MissingApplicationIcon">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Swift Backup Premium (tested on v4.2.3)" />
        <meta-data
            android:name="xposedminversion"
            android:value="90" />
        <meta-data
            android:name="xposedscope"
            android:value="org.swiftapps.swiftbackup" />
    </application>
</manifest>
